<!DOCTYPE html>
<html>



<head><link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <h1>{{>header}}{{title}}</h1>
   <form> <input placeholder="Location"><button>Search</button></form>

   <script src ="/js/app.js"></script>

   <p id="message-1"></p>
   <p id="message-2"></p>
</body>

</html>